.team {
    text-align: center;
    padding: 32px;
    background-blend-mode: multiply;
    position: relative;
}

.team h3 {
    font-size: 32px;
    font-family: 'Prata';
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.team .employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 32px auto 0;
    max-width: calc(280px * 4 + 16px * 3);
}

.employee {
    flex: 0 0 280px;
    height: 400px;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}

.team-actions {
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    align-items: center;
    gap: 500px;
}

.btn-delete-team{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}
